%td
  =link_to user.email, user

%td
  =form_for(user) do |f|
    =f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
    %button.btn.btn-primary.btn-sm{type: "submit"} Change Role

%td
  =link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-sm') unless user == current_user
