%br

%h2= @user.name

%br
=image_tag @user.avatar.url(:small), :class => 'rounded', title: "#{@user.name}"

- if user_signed_in? && @user == current_user
  %br
  %div
    =link_to('Sign out', destroy_user_session_path, method: :delete)
