<h1>Listing tasks</h1>

<table id="tasks-table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>X</th>
    <th>Y</th>
    <th>Color</th>
    <th>Status</th>
    <th>Urgency</th>
    <th>Importance</th>
    <th>Effort</th>
    <th>Due date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Task</a>