-content_for :title do
  Projects

-model_class = Project

#projects.row
  .col.col-sm-1
    #project-members
  .col.col-sm-11
    #project

:javascript
  $(function() {
    ProjectsController.initialize();
  });
