// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects {
	user-select: none;
	overflow: hidden;
}

#projects, #projects > div, #projects > div > .row {
	height: 100%;
}
