// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects {
  user-select: none;
}

#projects, #projects > div, #task-details-sidebar {
  // width: 100%;
  height: 100%;
}

#project-members-sidebar {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  width: 5%;
  max-width: 20mm;
  min-width: 10mm;
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    flex: 1 auto;
    height: 100%;

    li {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 4px;
      padding-left: 4px;
    }
  }
}

#task-details-sidebar {
  float: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 24%;
  max-width: 96mm;
  min-width: 60mm;
}

// color picker
#color-tool {
  flex-direction: row;
  list-style: none;
  justify-content: center;
  text-align: center;

  div {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
  }
}

.popover {
  max-width: inherit;
  opacity: .9;
}
.popover-body {
  padding: 12px;
}
