// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects {
	user-select: none;
}

#projects, #projects > div, #projects > div > .row {
	height: 100%;
}

#details-sidebar {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 85mm;
}

#project-members {
	border-right: solid 1px lightgrey;
}