%nav.navbar.navbar-expand-md.navbar-light.static-top
  %a.navbar-brand{href: "#{root_path}"}
    / =image_tag "public/images/original/missing.png", alt: "Systematic", style: "height: 100%;"
    %i.fa.fa-picture-o
    Taskscape

  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarCollapse", "aria-controls": "navbarCollapse", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon

  %div.collapse.navbar-collapse#navbarCollapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{href: "#", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
          %i.fa.fa-bars
          Browse

        .dropdown-menu{"aria-labelledby": "navbarDropdownMenuLink"}
          %a.dropdown-item{href: "#{projects_path}"}
            %i.fa.fa-sticky-note
            Projects
          %a.dropdown-item{href: "#{users_path}"}
            %i.fa.fa-users
            Users

      / %li.nav-item.active
      /   =link_to 'Home', root_path, class: 'nav-link'

      / %li.nav-item
      /   %a.nav-link.disabled{href: "#"} Disabled

    %ul.nav.navbar-nav.navbar-right
      =render 'layouts/nav_links_for_auth'
