-unless user_signed_in?
  %li.nav-item
    =link_to 'Sign in', new_user_session_path, class: 'nav-link'
  %li.nav-item
    =link_to 'Sign up', new_user_registration_path, class: 'nav-link'

-else
  -if current_user.try(:admin?)
    %li.nav-item
      =link_to 'Admin', '/admin', class: 'nav-link'
    %li.nav-item
      =link_to 'Users', users_path, class: 'nav-link'

  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle#navbarDropdownUserMenuLink{"data-toggle" => "dropdown", "aria-expanded" => false, "aria-haspopup": "true", title: "#{current_user.name}#{' (VIP)'if current_user.vip?}#{' (Administrator)'if current_user.admin?}"}
      =image_tag current_user.avatar.url(:thumb, timestamp: false), style: "width: 32px; height: 32px; margin-top: -12px; margin-bottom: -10px;"

    .dropdown-menu.dropdown-menu-right{"aria-labelledby": "navbarDropdownUserMenuLink"}
      =link_to user_path(current_user), class: "dropdown-item" do
        %i.fa.fa-user.fa-fw
        User Profile

      =link_to edit_user_path(current_user), class: "dropdown-item" do
        %i.fa.fa-gear.fa-fw
        Preferences

      / =link_to 'Edit account', edit_user_registration_path

      / %li.divider

      =link_to destroy_user_session_path, method: 'delete', class: "dropdown-item" do
        %i.fa.fa-sign-out.fa-fw
        Sign out
